/* homePage.css */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --orange: #f7ac39;
    --background-orange: #f5e9d7;
    --dark-orange: #e89b2e;
    --red: #ef7862;
    --light-red: #f59984;
    --background-red: #f6e0db;
    --green: #089e83;
    --light-green: #22b89e;
    --gray: #7a7a79;
    --light-gray: #a5a5a5;
    --background: rgb(255, 243, 232);
    --background-green: #d7f0ec;
  }
  
  body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    /* color: var(--gray); */
    direction: rtl;
    background: url('../images/IMG_6985.png') center/cover no-repeat fixed;
    
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.2);

  }
  
  .landing-wrapper {
    /* padding: 20px; */
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  
  
  


  .landing-section {
    margin: 40px 0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .section-title {
    font-size: 1.8em;
    color: var(--green);
    border-bottom: 2px solid var(--light-green);
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  

  
  
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* padding-left: 150px;
    padding-right: 150px; */
    justify-content: center;
    margin-bottom: 20px;
    max-width: 1200px;
  }

  .landing-highlight h2 {
    color: var(--red);
  }
  
  /* אזור שמתאים להכניס בו רקע עם תמונה */
  .landing-about {
    /* background: url('../images/IMG_6985.png') center/cover no-repeat; */
    background-blend-mode: lighten;
    background-color: var(--background-green) !important;
  }

  .intermediate-sentences{
    font-size: 40px;
    line-height: 1.5;
    /* color: var(--orange); */
    color:  var(--orange);
    -webkit-text-stroke: 1px black;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(255, 255, 255, );
    font-family: 'Hadassah Friedlaender';
  }
  
  @media (max-width: 725px) {
    .landing-header {
      padding: 30px 10px;
    }
    .landing-title {
      font-size: 1.8em;
    }
    .section-title {
      font-size: 1.4em;
    }
    .recommendations-grid{
      flex-direction: column !important;

    }
    .process-list {
      flex-direction: column !important;
    }
  }
  

/* Ensure no horizontal overflow */
body {
    overflow-x: hidden;
}

.landing-wrapper {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* .gallery-grid {
    padding-left: 20px;
    padding-right: 20px;
} */

.landing-highlight {
  margin-bottom: 20px;
  background-color: var(--background-orange) !important;
}


ol {
  list-style-type: none;;
}

.landing-products{
  background-color: var(--background-red ) !important;
}

.landing-gallery {
  background-color: var(--background-orange) !important;
}

.landing-process {
  background-color: var(--background-red) !important;
}

.landing-recommendations {
  background-color: var(--background-green) !important;
}

.recommendations-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.bottom-left-img {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100px;  */
  height: 53px;
  width: auto;
  z-index: 10; /* לוודא שהיא מעל שאר התוכן */
}
