.products-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category {
    background-color: #f7ac39;
    color: white;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.products-container {
    margin-top: 50px; 
    margin-bottom: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row; 
    align-items: center; 
    max-width: 1200px; 
}

.product-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.br {
    height: 10000px; 
}