.products-page {
    display: flex;
    justify-content: center;
}

.products-container {
    margin-top: 50px; /* Adjust as needed */
    margin-bottom: 30px; /* Adjust as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row; /* Ensures inner tags are stacked in rows */
    align-items: center; /* Centers inner tags horizontally */
    max-width: 1200px; /* Adjust as needed */
}

.product-item {
    flex: 1 1 calc(25% - 20px); /* Adjusts to 4 items per row with a gap */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Ensures inner tags are stacked in rows */
    align-items: center; /* Centers inner tags horizontally */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.br {
    height: 10000px; /* Adjust this value to set the height of the break line */
}